.goals-heading {
  text-align: center;
  margin: 0 30px;
}

.goals-heading h2 {
  font-weight: 900;
  font-size: 50px;
  color: #1b1f3b;
}

.goals-heading h3 {
  font-size: 1.4rem;
  font-weight: 400;
  padding-top: 15px;
}

.goalbody-div {
  margin: auto;
  width: 100%;
  padding: 0 1rem;
  max-width: 80em;
  display: block;
  unicode-bidi: isolate;
}

.goalbody-div ul {
  display: block;
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
  margin-top: 0.75rem;
  max-width: 75rem;
  max-width: var(--cards-max-width-default);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.goalbody-ul li {
  min-width: 250px;
  flex: 33.3333% 0;
  padding: 0.75rem;
  flex-grow: 0;
  outline: 0;
  display: list-item;
  unicode-bidi: isolate;
}

.GB-inner {
  padding: 1rem;
  height: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: black;
  position: relative;
  box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.04), 0px 1px 4px rgba(0, 0, 0, 0.12);
  background-color: rgb(20, 61, 89);
}

.GB-in-inner {
  text-align: center;
  padding: 1.25rem 0.5rem 1rem 0.5rem;
  font-family: "Open Sans", "system-ui", "Trebuchet MS", "Arial", "Helvetica",
    "Verdana";
  color: white;
}

.GB-in-inner h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  font-size: 1rem;
}

.GB-in-inner h5 {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5rem;
  padding: 0 1rem;
  line-height: 1.55;
}

.GB-img-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.GB-img-div2 {
  max-width: 60%;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.GB-img-div2 div {
  position: relative;
  width: 100%;
  text-align: left;
}

.GB-img-div2 div img {
  left: 0;
  top: 0;
  width: 100%;
  overflow-clip-margin: content-box;
  overflow: clip;
}

@media (max-width: 1200px) {
  .goalbody-ul li {
    flex: 1 1 45%;
  }
}

@media (max-width: 768px) {
  .goalbody-ul li {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 1024px) {
  .goals-heading h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .goals-heading h2 {
    font-size: 30px;
  }

  .goals-heading h3 {
    font-size: 1rem;
    padding-top: 10px;
  }
  .goals-br {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .goals-heading h2 {
    font-size: 25px;
  }
}
